<div class="login-container">
  <img class="img-style" src="../../../assets/images/login-image.png" alt="user image">
  <label class="label-style" for="username">Username</label>
  <input class="input-style" type="text" placeholder="username" [(ngModel)]="userName" />
  <label class="label-style" for="password">Password</label>
  <input class="input-style" type="password" placeholder="password" [(ngModel)]="password" />
  <input class="input-button-style" type="button" value="Login" (click)="login()" />
</div>
