<div class="container-fluid vh-100 d-flex align-items-center justify-content-center container-style">
  <div class="row align-items-center row-style">
    <div class="col d-flex flex-column">
      <h1>Login</h1>
      <p>Sign into your account</p>
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control input-style" [(ngModel)]="userName" placeholder="Write your username here"/>
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control input-style" [(ngModel)]="password" placeholder="Write your password here"/>
      <button type="button" class="btn btn-primary btn-lg" (click)="login()">Login</button>
    </div>
  </div>
</div>
