.img-style {
    width: 50%;
}

.table-style {
    width: 100%;
    margin-right: 30vh;
    background: #134E5E;
    filter: drop-shadow( 2px 5px 5px rgb(39, 39, 39));
    border-radius: 5px;
}

.thead-style {
    background: #457250;
}

.tbody-style {
    text-align: center;
}