<!--Cambiar nombres mas empresivos-->
<ng-container *ngIf="isEmpty(this.transactions); then ShowMessage; else ShowTable"></ng-container>

<ng-template #ShowMessage>
  <h3>Don't there transactions</h3>
  <img class="img-style" src="./assets/images/sad-face.png" alt="sad face">
</ng-template>

<ng-template #ShowTable>
  <table class="table-style">
    <thead class="thead-style">
      <tr>
        <th>TYPE</th>
        <th>AMOUNT</th>
        <th>TRANSFER TO</th>
        <th>DATE</th>
      </tr>
    </thead>
    <tbody class="tbody-style">
      <!--ng container abrazando la fila-->
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.typeTransaction}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.transferTo}}</td>
        <td>{{transaction.date | date:'medium'}}</td>
      </tr>
    </tbody>
</table>

</ng-template>