.container-style {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 18px;
    color: #252733;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 134px;
    border: 2px solid #dfe0eb;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 4%;
    color: white;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.p-style {
    font-size: 40px;
}