<h2 class="heading-style">Dashboard</h2>
<ul class="list-style">
    <li class="list-style-item">
        <a href="" routerLink="account">Account</a>
    </li>
    <li class="list-style-item">
        <a href="" routerLink="balance">Balance</a>
    </li>
    <li class="list-style-item">
        <a href="" routerLink="transfer">Transfer</a>
    </li>
    <li class="list-style-item">
        <a href="" routerLink="withdraw">Withdraw</a>
    </li>
    <li class="list-style-item">
        <a href="" routerLink="transfer-friend">Transfer friend</a>
    </li>
    <li class="list-style-item">
        <a href="" routerLink="account-friend">Create account friend</a>
    </li>
</ul>