.list-style {
    font-size: 18px;
    list-style: none;
}
.list-style-item {
    text-align: center;
    padding-top: 4.5vh;
    padding-bottom: 5vh;
}

.list-style-item a {
    text-decoration: none;
}