@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url(./assets/fonts/Arvo/Arvo-Italic.ttf) format("truetype");
}

body {
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    background: #d0dfd4;
}