<div class="container container-style">
    <h3>Transfer friend</h3>
    <div class="content form-group">
        <label class="label-style" for="transferTo">Transfer to: </label>
        <input class="form-control input-style" type="number" [(ngModel)]="transferTo" name="transferTo" id="transferTo" placeholder="Ingrese numero de cuenta">
        <label class="label-style" for="transferTo">Amount: </label>
        <input class="form-control input-style" type="number" [(ngModel)]="amount" name="amount" id="amount" placeholder="Ingrese monto">
        <label class="label-style" for="description">Description: </label>
        <textarea class="form-control textArea-style" rows="3"></textarea>
        <input class="input-button-style btn btn-primary" type="button" value="Enviar" (click)="transfer()">
    </div>
</div>