.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5% 2% 5%;
}

.description {
    padding-right: 30%;
}

.button-style {
    color: white;
    font-size: 24px;
    border-radius: 5px;
    background: #23c970;
    width: 20vh;
    height: 8vh;
    border: none;
}